.p-home {
  .section-filters {
    background: white;

    .l-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: 769px) {
        flex-direction: row;
        grid-gap: 2rem;
      }
    }

    &__description,
    &__select {
      color: #848484;
    }

    &__item {
      margin-bottom: 3rem;

      &:nth-child(2) .p-home__image {
        transform: scaleX(-1);
      }
    }

    &__image {
      max-height: 75px;
    }

    &__description {
      font-size: 14px;
      line-height: 24px;
    }

    &__select {
      width: 100%;
      border-radius: 30px;
      border: 1px solid #848484;
      padding: 14px;
      background-color: white;
      appearance: none;
      cursor: pointer;
    }
  }

  .section-results {
    background-color: #f6f6f6;

    .l-container {
      display: flex;
      flex-direction: column;

      @media (min-width: 769px) {
        flex-direction: row;
      }
    }
    &__title,
    &__description {
      color: #a9a9a9;
    }

    &__title {
      font-size: 45px;
    }

    &__description {
      font-size: 16px;
      line-height: 28px;
    }

    &__image {
      margin: 0 auto;
      padding: 2rem 0;
    }
  }
}
