.p-home {
  .section-filters {
    background: white;

    .l-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: 769px) {
        flex-direction: row;
        grid-gap: 2rem;
      }
    }

    &__description {
      color: #848484;
    }

    &__item {
      margin-bottom: 3rem;

      &:nth-child(2) .section-filters__image {
        transform: scaleX(-1);
      }
    }

    &__image {
      max-height: 75px;
    }

    &__description {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .section-no-results {
    background-color: #f6f6f6;

    .l-container {
      display: flex;
      flex-direction: column;

      @media (min-width: 769px) {
        flex-direction: row;
      }
    }

    &__description {
      color: #a9a9a9;
    }

    &__description {
      font-size: 16px;
      line-height: 28px;
    }

    &__image {
      margin: 0 auto;
      padding: 2rem 0;
    }
  }

  .section-results {
    background-color: #f6f6f6;

    &__image {
      height: 75px;
    }

    .cards-container {
      display: flex;
      grid-gap: 1.5rem;
      overflow-x: scroll;
    }
  }
}
